# Create Project

In [1]:
# Install tmdbsimple (only need to run once)
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.4)

In [2]:
 !pip install tqdm

Requirement already satisfied: tqdm in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (4.64.1)
Requirement already satisfied: colorama in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from tqdm) (0.4.5)

## Load libraries

In [4]:
# import libraries
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib.ticker import StrMethodFormatter
import matplotlib.ticker as ticker

#import 
from tqdm.notebook import trange, tqdm
from tqdm.notebook import tqdm_notebook 

# settings
pd.options.display.float_format = '{:,.2f}'.format

## Load data

In [5]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,"2,001.00",NaN,118,"Comedy,Fantasy,Romance"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,"2,013.00",NaN,120,"Drama,History"