# Create Project

In [1]:
# Install tmdbsimple (only need to run once)
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2022.9.24)

In [2]:
 !pip install tqdm

Requirement already satisfied: tqdm in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (4.64.1)
Requirement already satisfied: colorama in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (from tqdm) (0.4.5)

## Load libraries

In [8]:
# import libraries
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib.ticker import StrMethodFormatter
import matplotlib.ticker as ticker

#import 
from tqdm.notebook import trange, tqdm
from tqdm.notebook import tqdm_notebook 

# settings
pd.options.display.float_format = '{:,.2f}'.format

## Load data and concat Data

### 2000 Data

In [10]:
df_2000 = pd.read_csv('API_Data/final_tmdb_data_2000.csv.gz')
df_2000.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.00,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,"10,000,000.00","[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,"62,127.00",en,The Fantasticks,...,0.00,86.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.00,5.50,22.00,NaN
2,tt0113092,0.00,NaN,NaN,0.00,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,"110,977.00",en,For the Cause,...,0.00,100.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.00,5.10,8.00,NaN
3,tt0116391,0.00,NaN,NaN,0.00,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,"442,869.00",hi,Gang,...,0.00,152.00,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.00,4.00,1.00,NaN
4,tt0118694,0.00,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...","150,000.00","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.00,cn,花樣年華,...,"14,204,632.00",99.00,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.00,8.11,"2,231.00",PG

In [11]:
df_2000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243 entries, 0 to 1242
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1243 non-null   object
 1   adult                  1242 non-null   float64
 2   backdrop_path          692 non-null    object
 3   belongs_to_collection  116 non-null    object
 4   budget                 1242 non-null   float64
 5   genres                 1242 non-null   object
 6   homepage               63 non-null     object
 7   id                     1242 non-null   float64
 8   original_language      1242 non-null   object
 9   original_title         1242 non-null   object
 10  overview               1221 non-null   object
 11  popularity             1242 non-null   float64
 12  poster_path            1121 non-null   object
 13  production_companies   1242 non-null   object
 14  production_countries   1242 non-null   object
 15  release_date           1233 non-null   object
 16  revenue                1242 non-null   float64
 17  runtime                1242 non-null   float64
 18  spoken_languages       1242 non-null   object
 19  status                 1242 non-null   object
 20  tagline                555 non-null    object
 21  title                  1242 non-null   object
 22  video                  1242 non-null   float64
 23  vote_average           1242 non-null   float64
 24  vote_count             1242 non-null   float64
 25  certification          394 non-null    object
dtypes: float64(9), object(17)
memory usage: 252.6+ KB

### 2001 Data

In [12]:
df_2001 = pd.read_csv('API_Data/final_tmdb_data_2001.csv.gz')
df_2001.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.00,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,"48,000,000.00","[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,"11,232.00",en,Kate & Leopold,...,"76,019,048.00",118.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.00,6.33,"1,195.00",PG-13
2,tt0114447,0.00,NaN,NaN,0.00,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,"151,007.00",en,The Silent Force,...,0.00,90.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.00,5.00,3.00,NaN
3,tt0116916,0.00,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.00,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,"73,549.00",en,The Dark Mist,...,0.00,101.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.00,3.50,2.00,PG
4,tt0118589,0.00,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,"22,000,000.00","[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,"10,696.00",en,Glitter,...,"5,271,666.00",104.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.00,4.50,125.00,PG-13

In [13]:
df_2001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1337 entries, 0 to 1336
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1337 non-null   object
 1   adult                  1336 non-null   float64
 2   backdrop_path          720 non-null    object
 3   belongs_to_collection  92 non-null     object
 4   budget                 1336 non-null   float64
 5   genres                 1336 non-null   object
 6   homepage               108 non-null    object
 7   id                     1336 non-null   float64
 8   original_language      1336 non-null   object
 9   original_title         1336 non-null   object
 10  overview               1308 non-null   object
 11  popularity             1336 non-null   float64
 12  poster_path            1201 non-null   object
 13  production_companies   1336 non-null   object
 14  production_countries   1336 non-null   object
 15  release_date           1321 non-null   object
 16  revenue                1336 non-null   float64
 17  runtime                1336 non-null   float64
 18  spoken_languages       1336 non-null   object
 19  status                 1336 non-null   object
 20  tagline                554 non-null    object
 21  title                  1336 non-null   object
 22  video                  1336 non-null   float64
 23  vote_average           1336 non-null   float64
 24  vote_count             1336 non-null   float64
 25  certification          421 non-null    object
dtypes: float64(9), object(17)
memory usage: 271.7+ KB

### Combine the  years

In [14]:
#combine the two dataframes
combined_df = pd.concat([df_2000, df_2001], ignore_index=True, sort=False)

# saving a csv of concatenated df
combined_df.to_csv('Data/tmdb_results_combined_df.csv.gz', compression='gzip',
                   index=False)