#### This workbook uses SQL to prepare a relational database and export it to MySQL bench.

# Create Project

In [22]:
#import libraries and SQL 
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

# import SQL materials
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *

In [2]:
## Change username and password to match your personal MySQL Server settings
username = "root"
password = "Ahimsa81981182!"

movie = f'mysql+pymysql://{username}:{password}@localhost/movies'
engine = create_engine(movie)

In [3]:
# Check if the database exists. If not, create it.
if database_exists(movie) == False:
  create_database(movie)
else:
  print('The database already exists!')

The database already exists!

## Load the Data

In [5]:
#load the data
tmbd=pd.read_csv('Data/tmdb_results_combined_df.csv.gz')
#check that the data loaded
tmbd.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN

In [6]:
# load the  cleaned data
basics = pd.read_csv('Data/title_basics.csv.gz')
aka = pd.read_csv('Data/title_aka.csv.gz')
rating = pd.read_csv('Data/title_rating.csv.gz')

# Create new databases

## Prepare genres column

In [11]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History","[Drama, History]"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
81757,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
81758,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81759,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
81760,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81761,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

## Split and explode genres

In [12]:
#create a column
genres_split =basics['genres'].str.split(',')

unique_genres=genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'History', 'Horror',
       'Sci-Fi', 'Biography', 'Mystery', 'Musical', 'Action', 'Adventure',
       'Crime', 'Thriller', 'Music', 'Animation', 'Family', 'War',
       'Sport', 'Western', 'Adult', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [13]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History",Drama
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History",History
...,...,...,...,...,...,...,...,...,...,...
81760,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
81760,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
81760,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
81761,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
81761,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [14]:
#use unique to get the genres from the genres_split
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [15]:
#create the genres_split column
title_genres = exploded_genres[['tconst', 'genres_split']].copy() 
title_genres.head(10)

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0043139        Drama
1  tt0043139      History
2  tt0062336        Drama
3  tt0069049        Drama
4  tt0088751       Comedy
4  tt0088751       Horror
4  tt0088751       Sci-Fi

In [16]:
## Making the genre mapper dictionary
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [17]:
# create a new genre_id column using the map and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_id_map)

In [18]:
#drop the old column
title_genres = title_genres.drop(columns='genres_split')

In [19]:
#double check
title_genres.head(2)

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9

In [20]:
#convert the genre dictionary into a dataframe
genre_lookup=pd.DataFrame({'Genre_name': genre_id_map.keys(),
                          'Genre_id': genre_id_map.values()})

In [23]:
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'runtimeMinutes':Integer()}

In [24]:
#double check the dataframe
print(df_schema)

{'tconst': String(length=11), 'primaryTitle': Text(length=243), 'startYear': Float(), 'runtimeMinutes': Integer()}