#### Overview

1.  How does MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?
2. Is there a difference in revenue between 2018 and 2020?
3. What  is the difference in revenue for movie length of short vs. long

# Create project

In [1]:
# basic imports
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

# SQL
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

# Stats
import scipy.stats as stats
import statsmodels.api as sm

# settings
import warnings
warnings.filterwarnings("ignore")
pd.options.display.float_format = '{:,.2f}'.format

# Load Data and Process

## First Hypothesis prep

In [11]:
# import the data
filename = 'Data/tmdb_results_combined_df.csv.gz'
firsthypo_df=pd.read_csv(filename)
#check that the data loaded
firsthypo_df.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.00,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,"10,000,000.00","[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,"62,127.00",en,The Fantasticks,...,0.00,86.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.00,5.50,22.00,NaN

In [3]:
#check info
firsthypo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2580 non-null   object
 1   adult                  2578 non-null   float64
 2   backdrop_path          1412 non-null   object
 3   belongs_to_collection  208 non-null    object
 4   budget                 2578 non-null   float64
 5   genres                 2578 non-null   object
 6   homepage               171 non-null    object
 7   id                     2578 non-null   float64
 8   original_language      2578 non-null   object
 9   original_title         2578 non-null   object
 10  overview               2529 non-null   object
 11  popularity             2578 non-null   float64
 12  poster_path            2322 non-null   object
 13  production_companies   2578 non-null   object
 14  production_countries   2578 non-null   object
 15  release_date           2554 non-null   object
 16  revenue                2578 non-null   float64
 17  runtime                2578 non-null   float64
 18  spoken_languages       2578 non-null   object
 19  status                 2578 non-null   object
 20  tagline                1109 non-null   object
 21  title                  2578 non-null   object
 22  video                  2578 non-null   float64
 23  vote_average           2578 non-null   float64
 24  vote_count             2578 non-null   float64
 25  certification          815 non-null    object
dtypes: float64(9), object(17)
memory usage: 524.2+ KB

In [4]:
# check the value counts on certification column for first hypothesis
firsthypo_df['certification'].value_counts()

R          467
PG-13      182
NR          71
PG          63
G           25
NC-17        6
Unrated      1
Name: certification, dtype: int64

In [5]:
# explore the  missing data
num_missing = firsthypo_df['certification'].isna().sum()

total_rows = firsthypo_df.shape[0]

percent_missing = num_missing / total_rows
print(f'{percent_missing:.2f}% of the data in the certification column is missing')

0.68% of the data in the certification column is missing

#### Several step need to be taken to clean and prepare the data
- drop movies with no revenue and no budget
- drop movies with low counts in certification categories

In [12]:
# viewing shape before filtering
print(firsthypo_df.shape)
# dropping movies with zero for both 'revenue' AND 'budget'
firsthypo_df = firsthypo_df[((firsthypo_df['revenue'] > 0) & (firsthypo_df['budget'] > 0)) |
                     ((firsthypo_df['revenue'] == 0) & (firsthypo_df['budget'] > 0))].copy()

print(firsthypo_df.shape)

(2580, 26)
(546, 26)

In [14]:
# resolve small data counts by creating  new column  and check value
firsthypo_df['certification'].value_counts()

R        205
PG-13    125
PG        34
G         13
NR        12
Name: certification, dtype: int64

## Second Hypothesis prep

In [16]:
#read the data
df_2018 = pd.read_json('API_Data/tmdb_api_results_2018.json')
df_2018.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0069049,0.00,/zjG95oDnBcFKMPgBEmmuNVOMC90.jpg,None,"12,000,000.00","[{'id': 18, 'name': 'Drama'}]",https://www.netflix.com/title/80085566,"299,782.00",en,The Other Side of the Wind,...,0.00,122.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,40 years in the making,The Other Side of the Wind,0.00,6.70,155.00,R
2,tt0192528,0.00,/kOxAfSyHZEDEhOCic8TxXprUg4T.jpg,None,"5,000,000.00","[{'id': 18, 'name': 'Drama'}]",None,"567,662.00",en,Reverse Heaven,...,0.00,104.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Heaven's in trouble and there's one man who ca...,Heaven & Hell,0.00,7.20,5.00,
3,tt0360556,0.00,/7oy4miyq4WYYy0xtX6lbNVPrEsr.jpg,None,0.00,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",https://www.hbo.com/movies/fahrenheit-451,"401,905.00",en,Fahrenheit 451,...,0.00,100.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Knowledge is a dangerous thing,Fahrenheit 451,0.00,5.40,686.00,PG-13
4,tt0365545,0.00,/ljTYcQ3pkzYF52Z8ev1Z1UThnPy.jpg,None,0.00,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",https://www.netflix.com/title/80189630,"519,035.00",en,Nappily Ever After,...,0.00,100.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Let yourself grow,Nappily Ever After,0.00,7.20,752.00,

In [18]:
#loading 2021 data, errors in reading 2020 data
df_2021 = pd.read_csv('API_Data/final_tmdb_data_2001.csv.gz', low_memory=False)
df_2021.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.00,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,"48,000,000.00","[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,"11,232.00",en,Kate & Leopold,...,"76,019,048.00",118.00,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.00,6.33,"1,195.00",PG-13

In [19]:
# create one dataframe
combinedyears = pd.concat([df_2018, df_2021])

In [20]:
#seperate out years
combinedyears['release_date'] = pd.to_datetime(combinedyears['release_date'])

In [21]:
#create year column
combinedyears['year'] = combinedyears['release_date'].dt.year
combinedyears.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5857 entries, 0 to 1336
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                5857 non-null   object
 1   adult                  5855 non-null   float64
 2   backdrop_path          4170 non-null   object
 3   belongs_to_collection  319 non-null    object
 4   budget                 5855 non-null   float64
 5   genres                 5855 non-null   object
 6   homepage               4182 non-null   object
 7   id                     5855 non-null   float64
 8   original_language      5855 non-null   object
 9   original_title         5855 non-null   object
 10  overview               5827 non-null   object
 11  popularity             5855 non-null   float64
 12  poster_path            5612 non-null   object
 13  production_companies   5855 non-null   object
 14  production_countries   5855 non-null   object
 15  release_date           5759 non-null   datetime64[ns]
 16  revenue                5855 non-null   float64
 17  runtime                5815 non-null   float64
 18  spoken_languages       5855 non-null   object
 19  status                 5855 non-null   object
 20  tagline                5073 non-null   object
 21  title                  5855 non-null   object
 22  video                  5855 non-null   float64
 23  vote_average           5855 non-null   float64
 24  vote_count             5855 non-null   float64
 25  certification          2882 non-null   object
 26  year                   5759 non-null   float64
dtypes: datetime64[ns](1), float64(10), object(16)
memory usage: 1.3+ MB

In [22]:
# drop null values
combinedyears = combinedyears.dropna(subset=['year','revenue'])

In [23]:
#create 2001 column
combinedyears['year_2021'] = combinedyears['year'] == 2021

In [24]:
#check values
combinedyears['year_2021'].value_counts()

False    5736
True       23
Name: year_2021, dtype: int64

In [25]:
## save list of columns needed for each group
needed_cols = ['year_2021', 'revenue']

In [26]:
## save year_2021 in separate variable
year_2021_df = combinedyears.loc[combinedyears['year_2021']==True, needed_cols]
year_2021_df

      year_2021  revenue
123        True     0.00
126        True     0.00
127        True     0.00
248        True     0.00
600        True     0.00
764        True     0.00
980        True     0.00
1022       True     0.00
1260       True     0.00
1306       True     0.00
1314       True     0.00
1887       True     0.00
1972       True     0.00
2049       True     0.00
2106       True     0.00
2381       True     0.00
2689       True     0.00
2838       True     0.00
3528       True     0.00
4018       True     0.00
4116       True     0.00
4495       True     0.00
712        True     0.00

In [30]:
## save year_2018 in separate variable
year_2018_df = combinedyears.loc[combinedyears['year_2021']==False, needed_cols]
year_2018_df

      year_2021  revenue
1         False     0.00
2         False     0.00
3         False     0.00
4         False     0.00
5         False     0.00
...         ...      ...
1332      False     0.00
1333      False     0.00
1334      False     0.00
1335      False     0.00
1336      False     0.00

[5736 rows x 2 columns]

In [31]:
## Saving JUST the numeric col as final group variables
year_2021_group = year_2021_df['revenue']
year_2018_group = year_2018_df['revenue']
year_2021_group

123    0.00
126    0.00
127    0.00
248    0.00
600    0.00
764    0.00
980    0.00
1022   0.00
1260   0.00
1306   0.00
1314   0.00
1887   0.00
1972   0.00
2049   0.00
2106   0.00
2381   0.00
2689   0.00
2838   0.00
3528   0.00
4018   0.00
4116   0.00
4495   0.00
712    0.00
Name: revenue, dtype: float64

## Third Hypothesis prep

In [32]:
#explore runtime
firsthypo_df['runtime'].describe()

count   546.00
mean    104.60
std      22.40
min       0.00
25%      91.00
50%     100.00
75%     114.00
max     224.00
Name: runtime, dtype: float64

In [33]:
# look at runtime
firsthypo_df['runtime'].value_counts()

90.00     28
99.00     18
95.00     18
108.00    18
98.00     18
          ..
199.00     1
77.00      1
165.00     1
216.00     1
70.00      1
Name: runtime, Length: 87, dtype: int64

In [34]:
# create groups
long_film_df = firsthypo_df.loc[firsthypo_df['runtime'] > 150].copy()
short_film_df = firsthypo_df.loc[firsthypo_df['runtime'] < 90].copy()

In [35]:
display(long_film_df.info(), short_film_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 61 to 2527
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                22 non-null     object
 1   adult                  22 non-null     float64
 2   backdrop_path          20 non-null     object
 3   belongs_to_collection  3 non-null      object
 4   budget                 22 non-null     float64
 5   genres                 22 non-null     object
 6   homepage               3 non-null      object
 7   id                     22 non-null     float64
 8   original_language      22 non-null     object
 9   original_title         22 non-null     object
 10  overview               22 non-null     object
 11  popularity             22 non-null     float64
 12  poster_path            22 non-null     object
 13  production_companies   22 non-null     object
 14  production_countries   22 non-null     object
 15  release_date           22 non-null     object
 16  revenue                22 non-null     float64
 17  runtime                22 non-null     float64
 18  spoken_languages       22 non-null     object
 19  status                 22 non-null     object
 20  tagline                15 non-null     object
 21  title                  22 non-null     object
 22  video                  22 non-null     float64
 23  vote_average           22 non-null     float64
 24  vote_count             22 non-null     float64
 25  certification          12 non-null     object
dtypes: float64(9), object(17)
memory usage: 4.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 1 to 2556
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                98 non-null     object
 1   adult                  98 non-null     float64
 2   backdrop_path          67 non-null     object
 3   belongs_to_collection  18 non-null     object
 4   budget                 98 non-null     float64
 5   genres                 98 non-null     object
 6   homepage               6 non-null      object
 7   id                     98 non-null     float64
 8   original_language      98 non-null     object
 9   original_title         98 non-null     object
 10  overview               97 non-null     object
 11  popularity             98 non-null     float64
 12  poster_path            90 non-null     object
 13  production_companies   98 non-null     object
 14  production_countries   98 non-null     object
 15  release_date           97 non-null     object
 16  revenue                98 non-null     float64
 17  runtime                98 non-null     float64
 18  spoken_languages       98 non-null     object
 19  status                 98 non-null     object
 20  tagline                71 non-null     object
 21  title                  98 non-null     object
 22  video                  98 non-null     float64
 23  vote_average           98 non-null     float64
 24  vote_count             98 non-null     float64
 25  certification          64 non-null     object
dtypes: float64(9), object(17)
memory usage: 20.7+ KB

None

None

In [36]:
longfilm_runtime = long_film_df['runtime']
shortfilm_runtime = short_film_df['runtime']

# First Hypothesis Testing
#### What are the differences in  revenue for movie ratings?


- Null: Movies have the same revenue in all MPAA ratings

- Alternate: Movies with different MPAA ratings have different revenue.

Possible question would be how much? See Project 5 for linear regression