#### This workbook uses SQL to prepare a relational database and export it to MySQL bench.

# Create Project

In [1]:
#import libraries and SQL 
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

# import SQL materials
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *

In [2]:
## Change username and password to match your personal MySQL Server settings
username = "root"
password = "Ahimsa81981182!"

movie = f'mysql+pymysql://{username}:{password}@localhost/movies'
engine = create_engine(movie)

In [3]:
# Check if the database exists. If not, create it.
if database_exists(movie) == False:
  create_database(movie)
else:
  print('The database already exists!')

The database already exists!

## Load the Data

In [4]:
#load the data
tmbd=pd.read_csv('Data/tmdb_results_combined_df.csv.gz')
#check that the data loaded
tmbd.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN

In [5]:
# load the  cleaned data
basics = pd.read_csv('Data/title_basics.csv.gz')
aka = pd.read_csv('Data/title_aka.csv.gz')
rating = pd.read_csv('Data/title_rating.csv.gz')

# Create new databases

## Prepare genres column

In [6]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History","[Drama, History]"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
81757,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
81758,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81759,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
81760,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81761,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

## Split and explode genres

In [7]:
#create a column
genres_split =basics['genres'].str.split(',')

unique_genres=genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'History', 'Horror',
       'Sci-Fi', 'Biography', 'Mystery', 'Musical', 'Action', 'Adventure',
       'Crime', 'Thriller', 'Music', 'Animation', 'Family', 'War',
       'Sport', 'Western', 'Adult', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [8]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History",Drama
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History",History
...,...,...,...,...,...,...,...,...,...,...
81760,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
81760,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
81760,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
81761,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
81761,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [9]:
#use unique to get the genres from the genres_split
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [10]:
#create the genres_split column
title_genres = exploded_genres[['tconst', 'genres_split']].copy() 
title_genres.head(10)

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0043139        Drama
1  tt0043139      History
2  tt0062336        Drama
3  tt0069049        Drama
4  tt0088751       Comedy
4  tt0088751       Horror
4  tt0088751       Sci-Fi

In [11]:
## Making the genre mapper dictionary
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [12]:
# create a new genre_id column using the map and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_id_map)

In [13]:
#drop the old column
title_genres = title_genres.drop(columns='genres_split')

In [14]:
#double check
title_genres.head(2)

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9

In [15]:
#convert the genre dictionary into a dataframe
genre_lookup=pd.DataFrame({'Genre_name': genre_id_map.keys(),
                          'Genre_id': genre_id_map.values()})

In [16]:
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'runtimeMinutes':Integer()}

In [17]:
#double check the dataframe
print(df_schema)

{'tconst': String(length=11), 'primaryTitle': Text(length=243), 'startYear': Float(), 'runtimeMinutes': Integer()}

In [18]:
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History","[Drama, History]"

# Convert to SQL

## Title Basics

In [19]:
#drop the unneeded columns
basics_cleaned = basics.drop(columns=['titleType','originalTitle', 'isAdult', 'genres','genres_split', 'endYear'])

In [20]:
# Save to sql with dtype and index=False
basics_cleaned.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

81762

In [21]:
# add primary key
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

## Ratings

In [22]:
#check the columns
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319592 entries, 0 to 1319591
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1319592 non-null  object
 1   averageRating  1319592 non-null  float64
 2   numVotes       1319592 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.2+ MB

In [23]:
#create schema
rating_schema = {'tconst':String(key_len+1), 
                 'averageRating':Float(),
                 'numVotes':Integer()}#get_schema(ratings)

In [24]:
# Save to sql with dtype and index=False
rating.to_sql('ratings',engine,dtype=rating_schema,if_exists='replace',index=False)

1319592

In [25]:
# add primary key
engine.execute('ALTER TABLE ratings ADD PRIMARY KEY (`tconst`);')

## TMBD

In [26]:
#look at  info
tmbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2580 non-null   object
 1   adult                  2578 non-null   float64
 2   backdrop_path          1412 non-null   object
 3   belongs_to_collection  208 non-null    object
 4   budget                 2578 non-null   float64
 5   genres                 2578 non-null   object
 6   homepage               171 non-null    object
 7   id                     2578 non-null   float64
 8   original_language      2578 non-null   object
 9   original_title         2578 non-null   object
 10  overview               2529 non-null   object
 11  popularity             2578 non-null   float64
 12  poster_path            2322 non-null   object
 13  production_companies   2578 non-null   object
 14  production_countries   2578 non-null   object
 15  release_date           2554 non-null   object
 16  revenue                2578 non-null   float64
 17  runtime                2578 non-null   float64
 18  spoken_languages       2578 non-null   object
 19  status                 2578 non-null   object
 20  tagline                1109 non-null   object
 21  title                  2578 non-null   object
 22  video                  2578 non-null   float64
 23  vote_average           2578 non-null   float64
 24  vote_count             2578 non-null   float64
 25  certification          815 non-null    object
dtypes: float64(9), object(17)
memory usage: 524.2+ KB

In [27]:
#drop the unneeded columns
tmbd_cleaned =tmbd.drop(columns=['backdrop_path', 'adult','belongs_to_collection',
                        'homepage', 'original_language', 'original_title','overview', 
                        'popularity','poster_path','production_companies', 
                        'production_countries','release_date', 'runtime', 
                        'spoken_languages','status','tagline', 'title', 'video',
                        'vote_average', 'vote_count', 'genres', 'id'])

In [28]:
#check the columns
tmbd_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        2580 non-null   object
 1   budget         2578 non-null   float64
 2   revenue        2578 non-null   float64
 3   certification  815 non-null    object
dtypes: float64(2), object(2)
memory usage: 80.8+ KB

In [29]:
# remove ids that are 0
tmbd_cleaned = tmbd_cleaned.loc[ tmbd_cleaned['imdb_id']!='0']
tmbd_cleaned.head()

     imdb_id      budget     revenue certification
1  tt0113026  10000000.0         0.0           NaN
2  tt0113092         0.0         0.0           NaN
3  tt0116391         0.0         0.0           NaN
4  tt0118694    150000.0  14204632.0            PG
5  tt0118852         0.0         0.0             R

In [30]:
## saving schema
key_len = tmbd_cleaned['imdb_id'].map(len).max()
cert_len = tmbd_cleaned['certification'].fillna('').map(len).max()


api_data_schema = {'imdb_id':String(key_len+1), 
                 'budget':Float(),
                   'revenue':Float(),
                 'certification':Text(cert_len+1),
                  }
api_data_schema

{'imdb_id': String(length=11),
 'budget': Float(),
 'revenue': Float(),
 'certification': Text(length=8)}

In [31]:
# Save to sql with dtype and index=False
tmbd_cleaned.to_sql('tmbd_data',engine,dtype=api_data_schema,if_exists='replace',index=False)

2578

In [32]:
#add primary key
engine.execute('ALTER TABLE tmbd_data ADD PRIMARY KEY (`imdb_id`);')

## Genres

In [33]:
# Save to sql with dtype and index=False
genre_lookup.to_sql('genres',engine,if_exists='replace',index=False)

25

In [34]:
#add primary key
engine.execute('ALTER TABLE genres ADD PRIMARY KEY (`Genre_ID`);')

In [35]:
# Save to sql with dtype and index=False
title_genres.to_sql('title_genres',engine,if_exists='replace',index=False)

153216

# Show table creation

In [36]:
#check on the tables
q = '''SHOW TABLES;'''
pd.read_sql(q, engine)

  Tables_in_movies
0           basics
1           genres
2          ratings
3     title_basics
4     title_genres
5        tmbd_data

In [37]:
#check on the tables
q = '''SELECT * FROM title_basics limit 5;'''
pd.read_sql(q, engine)

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001.0,118
1,tt0043139,Life of a Beijing Policeman,2013.0,120
2,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70
3,tt0069049,The Other Side of the Wind,2018.0,122
4,tt0088751,The Naked Monster,2005.0,100

In [38]:
#check  rating
q = '''SELECT * FROM ratings limit 5;'''
pd.read_sql(q, engine)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1980
1  tt0000002            5.8       265
2  tt0000003            6.5      1835
3  tt0000004            5.6       179
4  tt0000005            6.2      2624

In [39]:
#check genres
q = '''SELECT * FROM genres limit 5;'''
pd.read_sql(q, engine)

  Genre_name  Genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [41]:
#check on the tables
q = '''SELECT * FROM tmbd_cleaned limit 5;'''
pd.read_sql(q, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'movies.tmbd_cleaned' doesn't exist")
[SQL: SELECT * FROM tmbd_cleaned limit 5;]
(Background on this error at: https://sqlalche.me/e/14/f405)