#### This workbook uses SQL to prepare a relational database and export it to MySQL bench.

# Create Project

In [1]:
#import libraries and SQL 
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

# import SQL materials
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote
from sqlalchemy_utils import create_database, database_exists

In [2]:
## Change username and password to match your personal MySQL Server settings
username = "root"
password = "Ahimsa81981182!"

movie = f'mysql+pymysql://{username}:{password}@localhost/movies'
engine = create_engine(movie)

In [3]:
# Check if the database exists. If not, create it.
if database_exists(movie) == False:
  create_database(movie)
else:
  print('The database already exists!')

The database already exists!

## Load the Data

In [5]:
#load the data
tmbd=pd.read_csv('Data/tmdb_results_combined_df.csv.gz')
#check that the data loaded
tmbd.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN

In [6]:
# load the  cleaned data
basics = pd.read_csv('Data/title_basics.csv.gz')
aka = pd.read_csv('Data/title_aka.csv.gz')
rating = pd.read_csv('Data/title_rating.csv.gz')

# Create new databases

## Prepare genres column

In [ ]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

## Split and ex