In [3]:
# Other tools and json
import json

In [6]:
# open the json
with open("C:\\Users\\Elizabeth Spreng\\.secret\\mysql.json", 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['user', 'password'])

In [8]:
## UPDATE THESE VARIABLES TO MATCH YOUR OWN PC/DATABASE
# MySQL Database to export 
DB_NAME = "movies"

# Json file with mysql login credentials
MYSQL_LOGIN = "C:\\Users\\Elizabeth Spreng\\.secret\\mysql.json"
USER_KEY = "user"
PASSWORD_KEY = "password"

## (Optional) - Change folder
folder = "Data-for-Tableau/"

In [9]:
######## CODE TO TEST LOGIN CREDENTIALS
import os, json
os.makedirs(folder, exist_ok=True)

with open(MYSQL_LOGIN) as f:
	login = json.load(f)

if (USER_KEY not in login):
    raise Exception(f"[!] The json file did not have a {USER_KEY} key.")
    
if (PASSWORD_KEY not in login):
    raise Exception(f"[!] The json file did not have a {PASSWORD_KEY} key.")

In [10]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\elizabeth spreng\anaconda3\envs\dojo-env\lib\site-packages (1.0.2)

In [11]:
import pandas as pd
import os
import numpy as np

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

import pymysql
pymysql.install_as_MySQLdb()

In [12]:
connection = f"mysql+pymysql://{login[USER_KEY]}:{login[PASSWORD_KEY]}@localhost/{DB_NAME}"
engine = create_engine(connection)

if database_exists(engine.url):
    print(f"[i] Database {DB_NAME} found.")
else:
    raise Exception(f'[!] Database {DB_NAME} does not exist.')

[i] Database movies found.

In [13]:
q  = """SHOW TABLES;"""
tables = pd.read_sql(q, engine)
tables

  Tables_in_movies
0           basics
1           genres
2          ratings
3     title_basics
4     title_genres
5        tmbd_data